body {
	font-family: 'Fredoka One', cursive;
	background-color: black;
	color: white; /* set the text color to white */
    height: 100vh; /* set the height to full viewport height */
    overflow-y: hidden; /* hide vertical overflow */
}

#door {
	
    background-image: url('../images/door.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-left: 700px;
	cursor: pointer;
	width: 250px;
	height: 550px;	
}

#welcome-note {
	margin-top: 50px; /* add margin to position the div */
	text-align: center; /* center the text */
	font-family: 'Fredoka One', cursive;
	font-size: 22px;
}
