body {
	font-family: 'Fredoka One', cursive;
	background-color: blueviolet;
	color: white; /* set the text color to white */
}

#door {
	
    background-image: url(/assets/images/door.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-left: 700px;
	cursor: pointer;
	width: 250px;
	height: 500px;


	
}